{% extends "bootstrap/base.html" %}
<!-- <script src="/static/js/moment-with-locales.js"></script> -->
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{% block title %}
{% if title %}
{{ title }} - microblog
{% else %}
Welcome to microblog
{% endif %}
{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
            <a class="navbar-brand" href="/">
                MicroBlog
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('index') }}">
                        Home
                    </a>
                </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('users', user_id=current_user.id) }}">
                        Profile
                    </a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not current_user.is_authenticated %}
                |
                <li>
                    <a href="{{ url_for('login') }}">
                        Log in
                    </a>
                </li>
                or
                <li>
                    <a href="{{ url_for('sign_up') }}">
                        Sign up
                    </a>
                </li>
                {% else %}
                |
                <li>
                    <a href="{{ url_for('logout') }}">
                        Logout
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
    {% block message %}
    <hr />
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% endblock %}
{% endblock %}


{% block content %}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{% endblock %}
{% block js %}{% endblock %}
