{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
<h1>Log In</h1>
</div>
    <div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>New user? <a href="{{ url_for('sign_up') }}">Click here to sign up</a>.</p>
    <!-- <form action="/login" method="post" name="login">
        {{form.hidden_tag()}}
        <p>
            Please enter your Name:<br>
            {{form.user_name}}<br>
            {% for error in form.errors.user_name %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>

        <p>
            Password:<br>
            {{ form.password }}<br>
            {% for error in form.errors.password %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>

        <p>{{form.remember_me}} Remember Me?</p>
        <p><input type="submit" value="Sign In"></p>
    </form> -->
{% endblock %}